.idea
.tx
client/src/main/resources/lighthouse/locale
*.wallet
*.spvchain
target/
deploy
updates
*.iml
client/client.iml
common/common.iml
server/server.iml
package/macosx/Info.plist
package/windows/Lighthouse.iss
win-build.ps1
.DS_Store
